
.audio-container {
    display: inline-block;
    vertical-align: middle;
}


.notification-wrapper {
    padding: 10px;
    margin: 10px 0;
    color: #fff;
    border-radius: 5px;
    min-width: 250px;
}

.notification {
    min-height: 100px;
    position: relative;
    overflow: hidden;
}

.notification .pro-thumb {
    position: absolute;
    right: 1px;
    bottom: 1px;
    -khtml-opacity:.20; 
    -moz-opacity:.20; 
    -ms-filter:"alpha(opacity=20)";
    filter:alpha(opacity=20);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.2);
    opacity:.35;
    background-color: #fff;
}

.notification .pro-thumb img {
    width: 75px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.notification .title a {
    position: absolute;
    text-decoration: none;
    color: #fff;
    max-width: 300px;
    font-family: 'Open Sans' sans-serif;
    font-size: 17px;
}

.notification .title a:hover {
    text-decoration: underline;
}
