
.audio-container {
    display: inline-block;
    vertical-align: middle;
}


.notification-wrapper {
    margin: 10px 0;
    min-width: 250px;
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(187,187,187,1);
    -moz-box-shadow: 5px 5px 5px 0px rgba(187,187,187,1);
    box-shadow: 5px 5px 5px 0px rgba(187,187,187,1);
}

.notification {
    min-height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
}

.notification .title {
    width: 100%;
    min-height: 150px;
    padding: 10px;
}

.notification .title a {
    position: absolute;
    text-decoration: none;
    color: #fff;
    max-width: 300px;
    font-family: 'Open Sans' sans-serif;
    font-size: 17px;
}

.notification .title a:hover {
    text-decoration: underline;
}

.notification .noti-footer {
    width: 100%;
    background-color: #fff;
    border-radius: 2px;
    min-height: 85px;
    padding: 5px;
}

.notification .noti-footer {
    color: #000;
    font-size: 16px;
    font-family: 'Open Sans' sans-serif;
}

.notification .noti-footer .pro-thumb {
    position: absolute;
    right: 5px;
}

.notification .noti-footer .pro-thumb img {
    width: 75px;
}

