<!DOCTYPE html>
<html lang="en" ng-app="shruti">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta name="description" content="audio notifications">
    <meta name="author" content="shruti">

    <!-- <link rel="icon" href="/assets/favicon.ico"> -->
    <link rel="shortcut icon" href="#" />

    <title>Shruti</title>
    <link href="/assets/vendor/css/bootstrap.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="/assets/shruti/css/app.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script src="//js.pusher.com/2.2/pusher.min.js"></script>
    <script src="//cdn.jsdelivr.net/angular.pusher/latest/pusher-angular.min.js"></script>
  </head>

  <body>
    <div class="container-fluid" ng-controller="MainCtrl as mc">
      {% template "content" . %}
    </div>
  </body>
  <script>
    var apiHost = {%.ApiUrl%};
    var ivonaHost = {%.IvonaUrl%};
    var clientId = {%.ClientId%};
    var autoRefreshInterval = {%.AutoRefreshInterval%};

    {% if .PusherAPIKey %}
        var pusherAPIKey={%.PusherAPIKey%};
        var pusherChannel ={%.PusherChannel%};
        var pusherEvent={%.PusherEvent%};
    {% else %}
        var pusherAPIKey=false;
    {%end%}
  </script>

  <script src="/assets/shruti/js/app.js"></script>
  <script src="/assets/shruti/js/factories.js"></script>
  <script src="/assets/shruti/js/controller.js"></script>
  <script src="/assets/shruti/js/directives.js"></script>
  <script src="/assets/shruti/js/providerFilter.js"></script>
</html>
