

{% define "content" %}

    <!-- Static navbar -->
    <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Shruti</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Settings</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">About</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
    </nav>

    <div class="row">
        <div class="col-md-12">
            <div class="well">
                <a ng-click="getNotifications()" class="btn btn-primary" href="#" role="button">Refresh</a>
               <span class="audio-container"><audio id="audio" autoplay controls src="" type="audio/ogg"></audio></span>
                <a ng-click="next()" class="btn btn-info" href="#" role="button">Next</a>
            </div>
        </div>
    </div> <!-- /row -->

    <div class="row">
        <div class="col-md-12">
            <p>{{status}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3" ng-repeat="(id,n) in notifications">
            <div class="notification-wrapper">
                <div class="notification" randomcolor>
                    <div class="title heard-{{n.heard}}">
                        <a href="{{n.url}}">{{n.title}}</a>
                    </div>
                    <div class="noti-footer">
                        <span class="pro-name">{{n.provider_dname}}</span>
                        <span class="pro-thumb"><img src="{{n.icon_url}}"></span>
                    </div>
                </div> <!-- /notification -->
            </div> <!-- /notification-wrapper -->
        </div>
    </div> <!-- /row -->

{% end %}

